<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.demo.mapper.AfreecatvDonationMapper">

    <select id="selectByDate" resultType="com.ras.demo.dto.Afreecatv_BJName">
        SELECT MAX(donationDate) AS MostRecentDonationDate
        FROM afc_donation;
    </select>

    <insert id="insert">
        INSERT INTO afc_donation (donationCount, donationDate)
        VALUES (#{donationCount}, #{donationDate})
    </insert>

    <update id="update">
        UPDATE afc_donation
        SET donationCount = #{donationCount}
        WHERE id = #{id}
    </update>


</mapper>