<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ras.demo.mapper.AfreecaBjMapper">
    <insert id="insertBjInfos" parameterType="list">
        INSERT INTO bjlist (bjId, bjNick, totalRank) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.bjId}, #{item.bjNick}, #{item.totalRank})
        </foreach>
    </insert>

</mapper>
